//Styling for SearchBar
.searchContainer{
	background-color: #000000;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	&.row {
		margin: 0;  //override the default -15px left/right margins in Boostrap rows
	}
	.headerTitle {
		padding-left: 10px;
	}
	.searchComponent {
		.searchLabel {
			display: block;
		}
		.searchTextField {
			color: #000000;
			width: 100%;
		}
	}
	.findButtonContainer {
		margin-top: 20px;
	}
	.errorTooltip {
		background-color: #ef0000;
		position: absolute;
		padding: 10px;
	}
}

//Styling for WelcomePage
.welcomePage {
	text-align: center;
}

//Styling for ResultRows
.resultRow.row {
	border: 1px solid #000000;
	margin: 10px 0;
	padding:5px 0;
	text-align: center;
	&:nth-child(odd) {
		background-color: #efeeee;
	}
	img {
    	height: auto; 
	    width: auto; 
	    max-width: 100px; 
	    max-height: 100px;

	    @media screen and (max-width: 767px) {
	    	padding-bottom: 5px;
	    }
	}
	.column {
		@media screen and (max-width: 767px) {
			border-top: 1px solid #000000;
		}
	}
	.verticalAlign {
		padding:10px 0;
		@media screen and (min-width: 768px) {
		padding-top: 40px;
		}
	}
}
